/* Estilização geral */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wgth@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  line-height: 1.5;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 2%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #222;
  
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.logo {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.logo img {
  height: 40px;
  margin-right: 10px;
}
.nav-links a {
font-size: 1.15rem;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 2.5rem;
}
#check {
  display: none;
}
.hamburger {
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.entrar:hover, .cadastrar:hover, .calculadora:hover{
  color: #57449a;
}

header h1, .entrar, .cadastrar, .calculadora {
  transition: 0.2s;

}

header h1:hover {
  color: #57449a
}

.top-section {
  /* display: flex; */
  background-color: #222;
  color: #fff;
  padding: 20px;
  margin-top: 70px;
}

.top-section .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left h2 {
  width: 100vh;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}

  .bottom-section {
    display: flex;
    background-color: #222;
    padding: 20px;
  }
  
  .bottom-section .left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bottom-section .indices {
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .bottom-section .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid green; */
  }
  
  .bottom-section .right div {
    padding: 20px 10px;
    border: none;
    background-color: #222;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 1px solid #fff;
    transition: background-color 0.3s ease;
    font-size: 20px;
  }
  
  .bottom-section .right div:hover {
    background-color: #57449a;
  }
  
  #Ibovespa,
  #CPLE3,
  #BBAS3,
  #IFRA11,
  #LFTS11 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .b3 {
    width: 50px;
    border-radius: 40px;
  }
  
  canvas {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 5px;
  }

    /* Footer */
    .container {
        /* min-width: 1170px; */
        margin: auto;
      }
      
      .row {
        display: flex;
        flex-wrap: nowrap;
      }
      
      ul {
        list-style: none;
      }
      
      .footer {
        background-color: #24262b;
        padding: 70px 0;
      }
      
      .footer h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
      }
      
      .footer-col {
        width: 25%;
        padding: 0 15px;
      }
      
      .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
      }
      
      .footer-col h4::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
      }
      
      .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
      }
      
      .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
      }
      
      .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
      }
      
      .footer-col ul li p {
        font-size: 16px;
        color: #ffffff;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
      }
      
      .footer-col ul li p:hover {
        color: #ffffff;
        padding-left: 8px;
      }










/* Responsividade */
@media (max-width: 1086px) {

  .hamburger {
    display: inline-flex;
  }
  #check:checked~.hamburger #menu-hamburger {
    display: none;
    
  }
  
  .hamburger #close-hamburger {
    display: none;
  }
  
  #check:checked~.hamburger #close-hamburger {
    display: block;
  }
  
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }
  
  #check:checked~.nav-links {
    height: 11rem;
  }
  
  .nav-links a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }
  
  #check:checked~.nav-links a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i)); 
  }


    /* .calculadora {
      max-width: 220px;
      text-align: center;
    } 
    .entrar {
      max-width: 150px;
      text-align: center;
    }
    .cadastrar {
      max-width: 150px;
      text-align: center;
    }
    
    .top-section,
    .bottom-section {
      flex-direction: column;
    }
    
    .left h2 {
      margin: 80px 10px;
      /* display: none;
    } */

    .row {
        flex-direction: column;
      }

    .footer-col {
        width: 100%;
    }

    .footer-col h4{
        margin-top: 30px;
    }

}



@media (max-width: 767px) {
    /* nav .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      position: absolute;
      top: 60px;
      right: 0;
      text-align: right;
    }
    
    .hamburger {
      display: block;
    }
    
    nav .nav-links.active {
      display: flex;
    }
    
    nav a {
      margin: 10px 20px;
      width: calc(100% - 40px);
      text-align: right;
    }
  
    .calculadora {
      max-width: 220px;
      text-align: center;
    }
    .entrar {
      max-width: 150px;
      text-align: center;
    }
    .cadastrar {
      max-width: 150px;
      text-align: center;
    } */


    .top-section,
    .bottom-section {
      flex-direction: column;
    }
  
    .left h2 {
      display: none;
    }

    .row {
        flex-direction: column;
      }


      .footer-col {
        width: 100%;
    }

    
    .footer-col h4{
        margin-top: 30px;
    }
    
}